spring:
  application:
    name: vendorListAPI
  datasource:
    url: jdbc:mysql://localhost:3306/APIFornecedores
    username: root
    password: "Sua Senha"
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true